<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToException="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 synxtaxCheck="false"
		 >

	<testsuites>
		<testsuite name="Cal test suite">
			<directory>./tests/</directory>
		</testsuite>	
	</testsuites>

</phpunit>